# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [56]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from pprint import pprint
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [57]:
# Load csv from Part I of the homework
weather_df = pd.read_csv("../Resources/weather_data_part-I.csv")
len(weather_df)
weather_dropped_df = weather_df.dropna()
len(weather_dropped_df)
print(f"Check df lenfth before and after dropping na values -\
 {len(weather_df)} vs. {len(weather_dropped_df)}") # Check if any na values
weather_df = weather_dropped_df
weather_df.head()

Check df lenfth before and after dropping na values - 541 vs. 541

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
1,Kaitangata,7.22,0,-46.28,169.85,58,1.79
2,Kahului,24.26,20,20.89,-156.47,51,12.30
3,Bubaque,26.99,94,11.28,-15.83,83,5.03
4,Albany,7.41,7,42.60,-73.97,68,1.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [58]:
# Configure gmap
gmaps.configure(api_key=g_key)

In [59]:
# Use Lat and Lng as locations and Humidity as the weight
locations = weather_df[['Latitude', 'Longitude']]
humidity  = weather_df['Humidity (%)']

In [60]:
# Add Heatmap layer to map
# fig = gmaps.figure()
fig = gmaps.figure(center=(40.0, -5.0), zoom_level=2)

In [61]:
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=5,
                                point_radius=2)

In [62]:
# Add layer
fig.add_layer(heat_layer)

In [64]:
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [65]:
warm_df = weather_df[weather_df['Temperature (DegC)'] > 25]
warm_and_noCloud_df = warm_df.loc[(warm_df['Cloudiness (%)'] <= 80)]
warm_and_noCloud_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
21,Kodinsk,26.91,71,58.69,99.18,46,5.09
24,San Patricio,26.04,1,19.22,-104.70,83,2.20
30,Bengkulu,29.18,2,-3.80,102.27,61,1.84
34,Atuona,26.82,36,-9.80,-139.03,81,9.31

In [66]:
vac_df = warm_and_noCloud_df.loc[warm_and_noCloud_df['Longitude'] < 60]
vac_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
24,San Patricio,26.04,1,19.22,-104.70,83,2.20
34,Atuona,26.82,36,-9.80,-139.03,81,9.31
36,Faanui,27.28,36,-16.48,-151.75,76,4.14
41,Tautira,27.88,20,-17.73,-149.15,69,2.10
65,Alice Town,27.26,36,25.72,-79.30,75,7.33

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [67]:
types_df = pd.read_csv("Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [68]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [69]:
# Setup query parameters
target_type = "restaurant"
locations = vac_df[['Latitude', 'Longitude', 'City']]
locations.head()

    Latitude  Longitude          City
24     19.22    -104.70  San Patricio
34     -9.80    -139.03        Atuona
36    -16.48    -151.75        Faanui
41    -17.73    -149.15       Tautira
65     25.72     -79.30    Alice Town

In [70]:
radius = 5000
#restr_type = 'chinese'
restr_type = 'restaurant'

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
keyword = 'chinese'

# Re-write into parameters dictionary
params = {
    'radius': 5000,
    'type': target_type,
    'key': g_key
}
restr_list        = []
restr_vcnt_list   = []
restr_rating_list = []
locs_list         = []
countries         = []
cities_list       = []
lats_list         = []
longs_list        = []

for index, row in locations.iterrows():
    response = requests.get(base_url, params).json()
    query_url = (f"{base_url}?location={row[0]},{row[1]}&radius={radius}&type={target_type}&key={g_key}")
    print(query_url)
    response = requests.get(query_url)
    response_data = response.json()
    results = response_data['results']
    try:
        print(f"Closest {target_type} restaurant is {results[0]['name']}.")
        restr_list.append(results[0]['name'])
        #print(restr_list)
        restr_vcnt_list.append(results[0]['vicinity'])
        lats_list.append(row[0])
        print(f"Latitudes: {lats_list}")
        longs_list.append(row[1])
        print(f"Longitudes: {longs_list}")
        locs_list.append((row[0],row[1]))
        address_string = results[0]['plus_code']['compound_code']
        address_list = address_string.split(', ')
        country = address_list[-1]
        city = row[2]
        #print(f"The city is {row[2]}.")
        cities_list.append(city)
        #print(f"Cities' list - {cities_list}")
        countries.append(country)
        #print(f"The country is {country}")
        #print(f"The countries' list is {countries}")
        if (results[0]['user_ratings_total'] == ""):
            print("Missing user ratings: ")
        else:
            restr_vcnt_df = pd.DataFrame({'Restaurant Name': restr_list,
                         'Vicinity': restr_vcnt_list})
            #print(len(restr_vcnt_df))
    except (KeyError, IndexError, NameError, AttributeError):
        print("Missing field/result... skipping.")
    print("---------------------------------------")
print("------------------END------------------")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=19.22,-104.7&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Señor Froy´s.
Latitudes: [19.22]
Longitudes: [-104.7]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-9.8,-139.03&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Roulotte Heremoana.
Latitudes: [19.22, -9.8]
Longitudes: [-104.7, -139.03]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-16.48,-151.75&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Iaorana Gelato Homemade Italian Ice Cream, internet point (WiFi free).
Latitudes: [19.22, -9.8, -16.48]
Longitudes: [-104.7, -139.03, -151.75]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-17.73,-149.15&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Le Bout du Monde.
Latitudes: [19.22, -9.8, -16.48, -17.73]
Longitudes: [-104.7, -139.03, -151.75, -149.15]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=25.72,-79.3&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Bimini Big John's.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=15.74,-96.47&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Taquería Lupita.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.89,-109.91&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Hotel Tesoro Los Cabos.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=20.5,-10.07&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.08,-159.32&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Hukilau Lanai.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=18.22,-63.06&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Hungry's Food Van.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=26.33,43.98&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is بيت البيتزا.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.68,-3.98&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.66,-114.41&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Subway.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=21.35,-158.09&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Paradise Cove Luau.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=25.02,37.27&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is كافتيريا ناصير.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=28.75,54.54&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is لقمینو | Loqmino.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=25.38,-103.42&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is birrieria El Shaddai.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.05,-95.68&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Little Caesars Pizza.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.1,-113.58&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Painted Pony Restaurant.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=35.57,53.4&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Darchin Restaurant.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-7.91,39.67&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Makutano Restaurant & Bar.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=12.48,-16.55&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM

Closest restaurant restaurant is Restaurant Udiamoral.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=8.89,-64.17&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Subway.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=23.61,58.59&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Rozna Muscat روزنة مسقط.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=27.27,31.15&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is مطعم مرزوقة.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-16.7,-151.02&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Izzy's.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=13.98,10.27&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=13.83,20.83&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is حديقة ظلال إفريقيا.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=22.2,-84.09&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=18.69,12.92&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=24.09,32.91&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is McDonald's.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=33.98,51.44&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Manouchehri Traditional House And Hotel.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=12.87,11.05&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Balankwace Tea And Indomie.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05]
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=29.37,-94.97&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Subway.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87, 29.37]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05, -94.97]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=18.44,1.41&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Missing field/result... skipping.
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-16.78,-151.5&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Apetahi Grill.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87, 29.37, -16.78]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05, -94.97, -151.5]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=25.54,-80.41&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is Subway.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87, 29.37, -16.78, 25.54]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05, -94.97, -151.5, -80.41]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-16.52,-151.75&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM

Closest restaurant restaurant is Hotel Sofitel Bora Bora Marara Beach Resort.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87, 29.37, -16.78, 25.54, -16.52]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05, -94.97, -151.5, -80.41, -151.75]
---------------------------------------
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=30.95,-110.3&radius=5000&type=restaurant&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM
Closest restaurant restaurant is El Mañanero Restaurante.
Latitudes: [19.22, -9.8, -16.48, -17.73, 25.72, 15.74, 22.89, 22.08, 18.22, 26.33, 32.66, 21.35, 25.02, 28.75, 25.38, 39.05, 37.1, 35.57, -7.91, 12.48, 8.89, 23.61, 27.27, -16.7, 13.83, 24.09, 33.98, 12.87, 29.37, -16.78, 25.54, -16.52, 30.95]
Longitudes: [-104.7, -139.03, -151.75, -149.15, -79.3, -96.47, -109.91, -159.32, -63.06, 43.98, -114.41, -158.09, 37.27, 54.54, -103.42, -95.68, -113.58, 53.4, 39.67, -16.55, -64.17, 58.59, 31.15, -151.02, 20.83, 32.91, 51.44, 11.05, -94.97, -151.5, -80.41, -151.75, -110.3]
---------------------------------------
------------------END------------------

In [72]:
# set up additional columns to hold information
restr_vcnt_df = pd.DataFrame({'Restaurant': restr_list,
                              'Vicinity': restr_vcnt_list,
                              'Coordinates': locs_list,
                              'City': cities_list,
                              'Country': countries})

restos_df = pd.DataFrame({'Restaurant': restr_list,
                          'City': cities_list,
                          'Country': countries,
                          'Latitude': lats_list,
                          'Longitude': longs_list})
len(restos_df)
restr_vcnt_df.index += 1
restr_vcnt_df.to_csv("OutputData/Restaurants_in_proximity.csv", index=False)
restos_df.to_csv("OutputData/Restos_marker_layer_for_Heatmap.csv", index=False)
restos_df.head()

,Restaurant,City,Country,Latitude,Longitude
0,Señor Froy´s,San Patricio,Mexico,19.22,-104.70
1,Roulotte Heremoana,Atuona,French Polynesia,-9.80,-139.03
2,"Iaorana Gelato Homemade Italian Ice Cream, int...",Faanui,French Polynesia,-16.48,-151.75
3,Le Bout du Monde,Tautira,French Polynesia,-17.73,-149.15
4,Bimini Big John's,Alice Town,Bahamas,25.72,-79.30

In [73]:
len(restos_df) # 33

33

In [74]:
# Get hotel coordinates into a list of tuples
# Load csv back into df
restos_df = pd.read_csv("OutputData/Restos_marker_layer_for_Heatmap.csv", index_col=None, usecols=None)
restos_df.index += 1
locs_list=vac_df[['Latitude', 'Longitude']]
all_vac_hotels_markers = gmaps.marker_layer(locs_list)
# humid=vac_df['Humidity (%)']
# heat_layer = gmaps.heatmap_layer(locs_list, weights=humid, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius=1.5)
fig.add_layer(all_vac_hotels_markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_content = """
<dl>
<dt>Name</dt><dd>{Restaurant}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
test_template = """
<dl>
<dt>Name</dt><dd>{Restaurant}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_content.format(**row) for index, row in restos_df.iterrows()]
locations = restos_df[["Latitude", "Longitude"]]

In [76]:
# Add marker layer on top of heat map
#fig = gmaps.figure(center=(40.0, -5.0), zoom_level=2)
#hotel_markers = gmaps.marker_layer(locations)
#fig.add_layer(hotel_markers)
#fig

# Display figure
restos_df.head()

,Restaurant,City,Country,Latitude,Longitude
1,Señor Froy´s,San Patricio,Mexico,19.22,-104.70
2,Roulotte Heremoana,Atuona,French Polynesia,-9.80,-139.03
3,"Iaorana Gelato Homemade Italian Ice Cream, int...",Faanui,French Polynesia,-16.48,-151.75
4,Le Bout du Monde,Tautira,French Polynesia,-17.73,-149.15
5,Bimini Big John's,Alice Town,Bahamas,25.72,-79.30

In [81]:
for index, row in restos_df.iterrows():
    info_box_template.format(**row) 
print(info_box_template)

<dl>
<dt>Name</dt><dd>{Restaurant}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>

In [77]:
hotel_info = [info_box_content.format(**row) for index, row in restos_df.iterrows()]
locations = restos_df[["Latitude", "Longitude"]]

In [78]:
# Add template layer
restos_layer = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(restos_layer)
fig

Figure(layout=FigureLayout(height='420px'))