# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load csv from Part I of the homework
weather_df = pd.read_csv("../Resources/weather_data_part-I.csv")
len(weather_df)
weather_dropped_df = weather_df.dropna()
len(weather_dropped_df)
print(f"Check df lenfth before and after dropping na values -\
 {len(weather_df)} vs. {len(weather_dropped_df)}") # Check if any na values
weather_df = weather_dropped_df
weather_df.head()

Check df lenfth before and after dropping na values - 541 vs. 541

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
1,Kaitangata,7.22,0,-46.28,169.85,58,1.79
2,Kahului,24.26,20,20.89,-156.47,51,12.30
3,Bubaque,26.99,94,11.28,-15.83,83,5.03
4,Albany,7.41,7,42.60,-73.97,68,1.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
# Configure gmap
gmaps.configure(api_key=g_key)

In [18]:
# Use Lat and Lng as locations and Humidity as the weight
locations = weather_df[['Latitude', 'Longitude']]
humidity  = weather_df['Humidity (%)']

In [24]:
# Add Heatmap layer to map
# fig = gmaps.figure()
fig = gmaps.figure(center=(40.0, -5.0), zoom_level=2)

In [25]:
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=2)

In [26]:
# Add layer
fig.add_layer(heat_layer)

In [27]:
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [46]:
warm_df = weather_df[weather_df['Temperature (DegC)'] > 25]
warm_and_noCloud_df = warm_df.loc[(warm_df['Cloudiness (%)'] <= 50)]
eur_df = warm_and_noCloud_df.loc[warm_and_noCloud_df['Longitude'] < 40]

In [48]:
eur_df = eur_df.loc[eur_df['Longitude'] > 20]
eur_df

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
161,Umluj,31.86,0,25.02,37.27,28,2.82
283,Abnūb,26.00,0,27.27,31.15,50,7.20
310,Abéché,25.95,0,13.83,20.83,54,1.92
399,Aswān,32.93,0,24.09,32.91,15,3.66

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure