# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
# Load csv from Part I of the homework
weather_df = pd.read_csv("../Resources/weather_data_part-I.csv")
len(weather_df)
weather_dropped_df = weather_df.dropna()
len(weather_dropped_df)
print(f"Check df lenfth before and after dropping na values -\
 {len(weather_df)} vs. {len(weather_dropped_df)}") # Check if any na values
weather_df = weather_dropped_df
weather_df.head()

Check df lenfth before and after dropping na values - 541 vs. 541

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
1,Kaitangata,7.22,0,-46.28,169.85,58,1.79
2,Kahului,24.26,20,20.89,-156.47,51,12.30
3,Bubaque,26.99,94,11.28,-15.83,83,5.03
4,Albany,7.41,7,42.60,-73.97,68,1.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
# Configure gmap
gmaps.configure(api_key=g_key)

In [17]:
# Use Lat and Lng as locations and Humidity as the weight
locations = weather_df[['Latitude', 'Longitude']]
humidity  = weather_df['Humidity (%)']

In [18]:
# Add Heatmap layer to map
# fig = gmaps.figure()
fig = gmaps.figure(center=(40.0, -5.0), zoom_level=2)

In [19]:
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=2)

In [20]:
# Add layer
fig.add_layer(heat_layer)

In [21]:
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
warm_df = weather_df[weather_df['Temperature (DegC)'] > 25]
warm_and_noCloud_df = warm_df.loc[(warm_df['Cloudiness (%)'] <= 80)]
warm_and_noCloud_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
21,Kodinsk,26.91,71,58.69,99.18,46,5.09
24,San Patricio,26.04,1,19.22,-104.70,83,2.20
30,Bengkulu,29.18,2,-3.80,102.27,61,1.84
34,Atuona,26.82,36,-9.80,-139.03,81,9.31

In [23]:
eur_df = warm_and_noCloud_df.loc[warm_and_noCloud_df['Longitude'] < 60] # Europe
eur_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
24,San Patricio,26.04,1,19.22,-104.70,83,2.20
34,Atuona,26.82,36,-9.80,-139.03,81,9.31
36,Faanui,27.28,36,-16.48,-151.75,76,4.14
41,Tautira,27.88,20,-17.73,-149.15,69,2.10
65,Alice Town,27.26,36,25.72,-79.30,75,7.33

In [24]:
hotel_df = eur_df.loc[eur_df['Longitude'] > 20] # Europe
hotel_df

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
108,Buraidah,27.00,19,26.33,43.98,21,3.60
161,Umluj,31.86,0,25.02,37.27,28,2.82
162,Dārāb,33.14,1,28.75,54.54,10,2.10
230,Semnan,30.87,0,35.57,53.40,14,1.98
234,Kilindoni,25.80,67,-7.91,39.67,73,9.28
260,Muscat,33.00,27,23.61,58.59,89,2.60
283,Abnūb,26.00,0,27.27,31.15,50,7.20
310,Abéché,25.95,0,13.83,20.83,54,1.92
399,Aswān,32.93,0,24.09,32.91,15,3.66
411,Kashan,32.10,0,33.98,51.44,11,1.78

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
# Store into variable named hotel_df
hotel_df

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
108,Buraidah,27.00,19,26.33,43.98,21,3.60
161,Umluj,31.86,0,25.02,37.27,28,2.82
162,Dārāb,33.14,1,28.75,54.54,10,2.10
230,Semnan,30.87,0,35.57,53.40,14,1.98
234,Kilindoni,25.80,67,-7.91,39.67,73,9.28
260,Muscat,33.00,27,23.61,58.59,89,2.60
283,Abnūb,26.00,0,27.27,31.15,50,7.20
310,Abéché,25.95,0,13.83,20.83,54,1.92
399,Aswān,32.93,0,24.09,32.91,15,3.66
411,Kashan,32.10,0,33.98,51.44,11,1.78

In [41]:
# Base url
#base_url = "https://maps.google.com/maps/api/place/nearbysearch/json"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#query_url = f"{base_url}?location={locations}&radius=1500&type=restaurant
key="AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM"
#bas2_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=locationbias=circle:2000@47.6918452,-122.2226413&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM"
"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=AIzaSyD4YZ_hzz-16dSzXNCVuR0WLvakRmBtfsM"

locations = hotel_df[['Latitude', 'Longitude']]
param = {
    'locations': locations, 
    'rankby': 'distance',
    'type': 'hotel',
    'key': g_key
}

for index, row in hotel_df.iterrows():
    hotel_type = row['ethnicity']
    parames['keyword'] = hotel_type
    response = requests.get(base_url, param=params).json()
    results = response['results']

KeyError: 'ethnicity'

In [42]:
from api_keys import gkey
# Configure gmap
gmaps.configure(api_key=g_key)
types_df = pd.read_csv("../Resources/weather_data_part-I.csv")
types_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29
1,Kaitangata,7.22,0,-46.28,169.85,58,1.79
2,Kahului,24.26,20,20.89,-156.47,51,12.30
3,Bubaque,26.99,94,11.28,-15.83,83,5.03
4,Albany,7.41,7,42.60,-73.97,68,1.75

In [36]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

,City,Temperature (DegC),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps),name,address,price_level,rating
0,Kulhudhuffushi,29.10,50,6.62,73.07,78,7.29,,,,
1,Kaitangata,7.22,0,-46.28,169.85,58,1.79,,,,
2,Kahului,24.26,20,20.89,-156.47,51,12.30,,,,
3,Bubaque,26.99,94,11.28,-15.83,83,5.03,,,,
4,Albany,7.41,7,42.60,-73.97,68,1.75,,,,

In [39]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}

In [40]:
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

KeyError: 'ethnicity'

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure