# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# load csv from Part I of the homework
weather_data = pd.read_csv("../Resources/weather_data_part-I.csv", index_col=False)
weather_data

,Unnamed: 0,City,Temperature (DegF),Cloudiness (%),Latitude,Longitude,Humidity (%),Wind Speed (mps)
0,0,Rikitea,297.56,100,-23.12,-134.97,84,6.00
1,1,Mountain Home,289.15,90,43.13,-115.69,51,3.10
2,2,Dikson,275.04,100,73.51,80.55,85,4.16
3,3,Yambio,292.18,73,4.57,28.40,96,1.90
4,4,Walvis Bay,291.15,0,-22.96,14.51,17,6.20
...,...,...,...,...,...,...,...,...
553,553,Stromness,284.61,96,58.97,-3.30,93,0.50
554,554,Azanka,281.91,0,58.04,64.79,64,3.51
555,555,Broome,281.32,1,42.25,-75.83,61,2.60
556,556,Saint-Augustin,283.05,79,51.23,-58.65,64,6.21
557,557,Lucapa,289.57,0,-8.42,20.74,48,2.42

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [2]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure