In [24]:
# Dependencies
import os
import csv
import json
import time
import requests
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key
from citipy import citipy
import matplotlib.pyplot as plt

output_dir = os.path.join("Images","")

In [25]:
## Create latitudes and cities lists variables and initialize them as empty lists
cities = []
# Generate a list of cities using a random function up to 1500 in size for scanning
# Note: larger number of cities can be obtained with larger size, however for this task only about 500 are required
latitude = np.random.uniform(low=-90.000, high=90.000, size=2000)
longitude = np.random.uniform(low=-180.000, high=180.000, size=2000)

latitudes_longitudes = zip(latitude, longitude)
count_cities_500 = 0
for latitude_longitude in latitudes_longitudes:
    city = citipy.nearest_city(latitude_longitude[0], latitude_longitude[1]).city_name
    # If city is not in cities, then append the city to the cities' list. Limit the city list to 500
    if city not in cities:
        if count_cities_500 < 500:
            cities.append(city)
            count_cities_500 += 1
        else:
            break
    else:
        continue
print(f"First five are listed here: {cities[:5]}...")
print(f"There are {len(cities)} cities in the list.")

First five are listed here: ['arraial do cabo', 'port alfred', 'belushya guba', 'busselton', 'berdsk']...
There are 500 cities in the list.

In [34]:
# url for weather api
units = 'english'
url   = "http://api.openweathermap.org/data/2.5/weather?q="
url2  = "http://api.openweathermap.org/data/2.5/group?id=524901,703448,2643743&units=metric"
city_5_list = cities[:5]
city_list   = []
temp_list   = []
lat_list    = []
long_list   = []
humid_list  = []
cloud_list  = []
wind_list   = []
counter     = 0

for city in city_5_list:
    try:
        query_test_url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}"
        #print(query_test_url)
        response = requests.get(query_test_url).json()
        #print(response)
        city_list.append(response["name"])
        temp_list.append(response["main"]["temp"])
        lat_list.append(response["coord"]["lat"])
        long_list.append(response["coord"]["lon"])
        humid_list.append(response["main"]["humidity"])
        cloud_list.append(response["clouds"]["all"])
        wind_list.append(response["wind"]["speed"])
#         if counter > 50:
#             counter = 1
#         else:
#             counter += 1
    except KeyError:
        print(f"City '{city.capitalize()}' was not found.")
print(wnd_list)

City 'Belushya guba' was not found.
[5.8, 7.7, 4.1, 1]

In [35]:
# Create a dataframe from the collected data
weather_df = pd.DataFrame({'City': city_list,
                           'Temperature': temp_list,
                           'Cloudiness': cloud_list,
                           'Latitude': lat_list,
                           'Longitude': long_list,
                           'Wind Speed': wind_list})
weather_df.head()

              City  Temperature  Cloudiness  Latitude  Longitude  Wind Speed
0  Arraial do Cabo       296.57          32    -22.97     -42.03        4.20
1      Port Alfred       285.93          18    -33.59      26.89        2.24
2        Busselton       289.98          80    -33.65     115.33        6.71
3           Berdsk       294.15          40     54.76      83.10        6.00